[submodule "libraries/glad"]
	path = libraries/glad
	url = https://github.com/gilmarxd/glad.git
	branch = master
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/gilmarxd/glfw.git
	branch = master
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
	branch = master
